.navbar {
    height: 39px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
}

.navbar-toggler {
    border: none;
    width: 20px;
    height: 20px;
    padding: 0;
}

.navbar-toggler-icon {
    width: 20px;
    height: 20px;
    background: url("../images/h5/left.png") no-repeat center;
    background-size: cover;
}

.navbar-brand {
    background: url("../images/h5/logo.png") no-repeat center;
    background-size: cover;
    width: 32px;
    height: 34px;
}

.navbar-toggler:focus {
    box-shadow: none;
    outline: none;
}

.cus-search-box {
    width: 20px;
    height: 20px;
    background: url("../images/h5/search.png") no-repeat center;
    background-size: cover;
}

/* Make sure the navbar brand is centered */
/* @media (max-width: 992px) {
    .navbar-brand {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
} */


/* 手机端 logo */
@media (max-width: 990px) {
    .cus-searchPart-container {
        display: none;
    }

    .col-6 {
        width: 48%;
        padding-left: 10px;
    }

    #services-list {
        gap: 8px;
        justify-content: flex-start;
        margin-top: 24px;
    }

    .services-list-margin {
        margin-top: -30px !important;
    }

    .cus-pc-changeLanguage {
        display: none;
    }

    .hero-section {
        display: none;
    }

    #services-title {
        display: none;
    }

    .logo-img {
        max-height: 39px;
        /* 调整 logo 高度 */
    }

    .m-search-container {
        padding-top: 40px;
        display: none;
    }


    .m-search-container .search-box {
        padding: 10px 15px;
        /* height: 40px; */
        background-color: #1d1924;
        border-top: 1px solid #29252f;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .m-search-container .search-box .search-container {
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .search-input {
        width: calc(100% - 60px);
        height: 40px;
        border-radius: 50px 0 0 50px;
        background-color: #2b2536;
        color: #9186a7;
        padding: 0 15px;
        border: 0;
        font-size: 14px;
    }

    .button {
        display: inline-block;
        width: 64px;
        height: 40px;
        background-color: #f10086;
        border-radius: 0 50px 50px 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .button a {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .button a img {
        width: 30px;
        height: 30px;
    }

}